{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.blood_bank_id.label }} {{ form.blood_bank_id }}</p>
    <p>{{ form.blood_type.label }} {{ form.blood_type }}</p>
    <p>{{ form.quantity.label }} {{ form.quantity }}</p>
    <p>{{ form.last_updated.label }} {{ form.last_updated }}</p>
    <button type="submit">Submit</button>
</form>
<a href="{{ url_for('main.blood_stock_list') }}">Back to Blood Stock List</a>
{% endblock %}
